$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.delete {
}

.img-preview {
  width: 100px;
  height: 100px;
}

body{
    background-color: #363636;
}

#scene canvas{
    margin: 0 auto;
    background-color: #4F4F4F;
    width:100%;
}

#scene{
    background-color: #363636;
    height:980px;
}

#assetPanel{
    overflow: scroll;
    height:980px;
    background-color: #4F4F4F;
    border: none;
    border-radius: 0px;
    border-shadow: 0px;
}

#panelGroupLeft{
    background-color: #4F4F4F;
}

#panelGroupLeft label{
    width: 70px;
}

#panelGroupLeft input{
    color: #000000;
}

.panelField{
    background-color: #717171;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    border-shadow: 0px;
}

#engineName{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #2D2D2D;
}

.panel-default > .panel-heading{
    background-color: #717171;
    color: #ffffff;
}

#column2 > .panel-default:nth-child(2) > .panel-heading:first-child{
    margin-top: 45px;
}

#assetStack{
    background-color: #4F4F4F;
    color:#ffffff;
    margin-top:0px;
    text-align: right;
}

#add{
    background-color: #4F4F4F;
    color:#ffffff;
    margin-top:0px;
    text-align: left;
}

.panel panel-default{
    margin-top:0px;
}

#buttonsMain{
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}

.buttonsMain2{
    margin-right: 20px;
}

a:hover{
    cursor:pointer;
}

#column3{
    background-color: #363636;
    height:600px;
}

#rightPanel{
    height:600px;
    background-color: #4F4F4F;
    border: none;
    border-radius: 0px;
    border-shadow: 0px;
}

#add{
    text-align: left;
}

.effectHeading{
    background-color: #888888;
}

.effectHeading + .panel-body{
    background-color: #888888;
}

#listStyle .list-group-item{
    background-color: #888888;
}

.effectHeading > .panel-title{
    width:80px;
    float:left;
}

.collapse-button,
.delete img {
    float: right;
    position: relative;
    width: 30px;
    height: 30px;
}

.asset-heading > .collapse-button, 
.asset-heading > .delete img {
    top: -40px;
    margin-right: 5px;
}

.effectHeading {
    height: 40px;
}

.panel .effectHeading .delete img {
    top: -5px;
}